body {
  margin: 0;
}

.header {
  padding: 15px 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

  a {
    padding: 0 20px;
  }
}
.ant-btn-primary{background-color: #d84942;border-color: #d84942;}
.ant-btn:hover, .ant-btn:focus{background-color: #d84942;border-color: #d84942;color: #fff;}
.ant-btn-group .ant-btn-primary:first-child:not(:last-child){
  border-right-color: #d84942;
}
.ant-btn-group .ant-btn-primary:last-child:not(:first-child), .ant-btn-group .ant-btn-primary + .ant-btn-primary{
  border-left-color: #d84942;margin-left:8px;
}
